@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  margin: 0;
  background-color: #1445b3; }

nav {
  background-color: #fff;
  color: blue;
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between; }

#menu {
  padding-top: 10px;
  background-color: rgba(43, 134, 214, 0.8);
  width: 200px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  transition: all 0.5s; }

ul {
  list-style: none;
  padding-left: 20px; }
  ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -15px; }

div a {
  font-family: "Open Sans", sans-serif; }

div #menu:target {
  left: 0px; }

div .x {
  position: absolute;
  top: 150px;
  left: 300px;
  display: none; }

div #menu:target .x {
  display: block; }

div li:hover {
  color: blue;
  transition: 0.3s; }

div a:active, div :visited, div :link {
  color: #fff; }

div a:hover {
  color: blue; }
